*{
	outline:0;
	margin:0;
	padding:0;
}

body{
	background:linear-gradient(#ffeecc, #ffbd39);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	font-size:16px;
	font-family: 'Lato', sans-serif;
}

/* Navigation */
nav{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background-color: #aa5000;
	padding: 15px 25px;
}

nav ul li{
	display:inline;
}

nav a{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	padding:15px 10px;
}

nav a:hover{
	color:white;
	text-shadow:0 0 2px white;
	cursor:pointer;
	transition: 0.2s linear color;
}

.right-nav{
	position: fixed;
	right: 30px;
}

.main{
	padding:25px;
	margin:70px 30px;
	background-color:#ffeecf;
	border-radius:5px;
	border:6px solid #aa5000;
}

.main h2{
	text-align: center;
	color: #aa5000;
    font-weight: bold;
    font-size: 2em;
}

.main a{
	color:blue;
	text-decoration: none;
	font-weight: bold;
}

.main a:hover{
	text-decoration: underline;
}

header h1{
	font-size: 3em;
    color: #ffe9d6;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background: #aa5000;
    width: fit-content;
    display: block;
    margin: 0 auto 20px auto;
    padding: 30px;
    border-radius: 100%;
}

#dashboard{
	
}

#login-form{
	display:block;
	margin:auto;
	text-align: center;
	padding: 15px 0;
}

.form-row{
	padding:10px 0;
}

#login-button{
	display: block;
    margin: 30px auto;
    background-color: #aa5000;
    color: white;
    font-size: 1em;
    padding: 15px;
    border: 3px solid #663000;
}

#login-button:hover{
	background-color: #853e00;
	color:yellow;
	cursor:pointer;
	transition: 0.2s linear color, 0.2s linear background;
}

#login-button:active{
	background-color: #ffad66;
	transition: none;
}

#login-form > p, #login-form > ul{
	display: block;
	margin: auto;
	text-align: left;
	width:75%;
	color: #aa5000;
	padding:5px 0;
}

#login-form > p{
	line-height: 2;
	font-size: 1.1em;
}

#login-form > p:nth-child(9){
	text-indent: 6%;
}

#login-form > ul{
	list-style-position: inside;
	text-indent: 3em;
	line-height: 1.5;
}

#login-form > ul:nth-child(4) li:nth-child(1){
	display: none;
}

#login-form > ul:nth-child(6){
	color: red;
	font-weight: bold;
}

#login-form select{
	padding:5px;
	font-size: 0.85em;
	background-color: white;
}

#login-error-message{
	display:block !important;
	color:red;
}

span.helptext{
	font-size: 0.9em;
}

input[type="text"], input[type="password"], input[type="number"]{
	padding: 5px;
	font-size:0.85em;
}

input[type="date"]{
	width:209px;
}

input#id_height1:after{
	content:' Downlaod';
}

label[for=id_height2]{
	opacity: 0;
}

.message{
	text-align: center;
}



/* Diet Entry */
section#results {
	display: flex;
	flex-wrap: wrap;
	border-left: 3px solid #663000;
	width:100.8%;
}

.Diet-Entry{
    display: block;
    width: 22.5%;
	background: rgba(170, 80, 0, 0.6);
	color: white;
	padding: 1%;
	margin: 0;
	border-bottom: 3px solid #663000;
    border-right: 3px solid #663000;
}

.Diet-Entry:nth-child(1), .Diet-Entry:nth-child(2), .Diet-Entry:nth-child(3), .Diet-Entry:nth-child(4){	
	border-top: 3px solid #663000;
}

.Diet-Sub-Entry{
	padding:10px 0;
}

.Diet-Final-Tally{
	font-weight: bold;
}