<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Latoe&display=swap" rel="stylesheet">
	
	{% load static %}

	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<script type="text/javascript" src="{% static 'scripts/init.js' %}"></script>
</head>
<body id="body">
	{% include "nav.html" %}
	<div class="main">
		{% include "header.html" %}
		<h2>Welcome back {{ user.username }}!</h2>
		{{ calorieMessage | safe }}
		<!-- <p>Current calorie goal: {{ goal | safe }}</p>
		<p>Total calories consumed: {{ totalCaloriesConsumed | safe }}</p>
		<p>Total calories burned: {{ totalCaloriesBurned | safe }}</p>
		<p>You are {{ target | safe }} and have {{ status | safe }} your goal</p> -->
		<div id="dashboard">	
				{{ entries | safe }}
		</div>
	</div>
</body>
</html>
