<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Latoe&display=swap" rel="stylesheet">
	
    {% load static %}

    <style>
        #login-form > p{
            display:inline !important;
        }
    </style>

	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<script type="text/javascript" src="{% static 'scripts/init.js' %}"></script>
</head>
<body id="body" onload="initWorkoutEntries();">
	{% include "nav.html" %}
	<div class="main">
		{% include "header.html" %}
        <h2>View Workout Entries</h2>
        <br />
        <p class="message"><a href="{% url 'create_workout' %}">(Create new workout entry)</a></p>
        <form id="login-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="submit-button" id="login-button" type="submit" value="Search" />
        </form>
        {{ message | safe }}
        <section id="results">
                {{ entries | safe }}
        </section>
        <br />
        {{ total | safe}}

        <div class="hidden">
                <form method = "POST" id="edit-form">
                    {% csrf_token %}
                    {{ editForm.as_p }} 
                </form>
                <form method = "POST" id="delete-form">
                    {% csrf_token %}
                    {{ deleteForm.as_p }}
                </form>
            </div>
	</div>
</body>
</html>
